/* Main Container */
.recipeContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 100%;
    background: url('/parallax.png');
}
/* Video Container */
.leftPane {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 31%;
}
.recipeVideo {
    width: 100%;
    height: auto;
    max-width: 500px;
    border-radius: 10px;
}
/* Content Container */
.rightPane {
    flex: 1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70% !important;
}
/* Recipe Details */
.recipeDetails {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    max-width: 40vw;
    border-radius: 20px;
    border: solid 2px;
    padding: 50px;
    gap: 5px;
}
.title {
    font-size: 2rem !important; 
}
.calories {
    font-size: 1rem !important;
    color: gray;
    margin-top: -15px !important;
}
.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.tag {
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.875rem;
}
.description {
    margin-top: 20px;
    margin-bottom: 20px;
    white-space: normal; /* Allows wrapping */
    word-break: normal; /* Prevents breaking words */
    overflow-wrap: normal; /* Ensures words only break at normal breakpoints */
}
.buttonsContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.volverButton, .addToCartButton {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 10px 20px;
}
.volverButton:hover, .addToCartButton:hover {
    background-color: var(--primaryfade-color);
}