* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Global Variables - RAZER */
:root {
  --background-color: #faf3e0;
  --primary-color: rgb(156, 218, 114);
  --primaryfade-color: rgb(64, 2, 83);
  --secondary-color: #333;
  --text-color: rgb(0, 0, 0);
  --font-family: 'Courier New', Courier, monospace;
}