.authContainer {
    display: flex;
    flex-direction: row;
}
.navButton {
    color: white;
    background-color: var(--primary-color) !important;
    margin-right: 10px;
    text-transform: none;
}
.dialogPaper {
    border-radius: 20px;
    background-color: var(--background-color) !important;
    padding: 20px;
    border: solid 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.dialogTitleRoot {
    color: var(--text-color);
}
.dialogActionsRoot {
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}
.googleButton {
    width: 250px;
}
.googleButton, .cancelButton, .loginButton, .registerButton {
    color: var(--text-color);
    background-color: var(--primary-color) !important;
}
.navButton:hover,.googleButton:hover, .cancelButton:hover, .loginButton:hover, .registerButton:hover {
    background-color: var(--primaryfade-color) !important;
}