.authContainer {
    display: flex;
    flex-direction: row;
}
.navButton {
    color: var(--text-color) !important;
    background-color: var(--primary-color) !important;
    margin-right: 10px !important;
    text-transform: none;
    font-family: var(--font-family2) !important;
    font-style: italic !important;
}
.dialogPaper {
    border-radius: 20px;
    background-color: var(--background-color) !important;
    padding: 20px;
    border: solid 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.dialogTitleRoot {
    color: var(--text-color);
}
.dialogActionsRoot {
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}
.authFirstRow {
    display: flex;
    gap: 20px;
}
.googleButton {
    width: 250px;
}
.googleButton, .cancelButton, .loginButton, .registerButton {
    color: var(--text-color);
    font-family: var(--font-family2);
    font-style: italic;
    background-color: var(--primary-color) !important;
}
.navButton:hover,.googleButton:hover, .cancelButton:hover, .loginButton:hover, .registerButton:hover {
    background-color: var(--primaryfade-color) !important;
}
/* Mobile View */
@media (max-width: 768px) {
    .dialogPaper {
        padding: 10px;
        max-width: 100vw;
        max-height: 80vh;
    }
    .dialogActionsRoot {
        margin-left: 5px;
        margin-right: 5px;
        flex-direction: column;
        gap: 15px;
    }
    .authFirstRow {
        gap: 10px;
        width: 100%;
        justify-content: space-between;
    }    
    .googleButton p {
        display: none;   
    }
    .googleButton {
        width: 30px;
        height: 30px;
        padding: 0 !important;
        margin: 0 !important;
    }
    .googleButton span {
        margin: 0;
    }
    .loginButton, .registerButton {
        width: 60%;
        height: 30px;
        font-size: 1rem;
    }
    .cancelButton {
        width: 100%;
        height: 30px;
        font-size: 1rem;
        margin-left: 0 !important;
    }
    .dialogTitleRoot {
        font-size: 1.2rem;
    }
}
