.cartButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 10px;
}
.cartButton:hover {
    transform: scale(1.2);
}
.cartIcon {
    color: var(--primary-color);
    font-size: 2rem;
}