.carritoPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10vh 5vw;
    background-color: var(--background-color);
    background-image: url('/parallax.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.volverButton {
    background-color: var(--primary-color);
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1.25rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.volverButton:hover {
    background-color: var(--primaryfade-color);
    transform: scale(1.05);
}

.cartItems {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 5vw;
}

.cartItem {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 8px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cartItem:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cartImage {
    border-radius: 8px;
    object-fit: cover;
    margin-right: 20px;
}

.itemDetails {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.itemTitle {
    font-size: 1.25rem;
    color: var(--primary-color);
    font-weight: bold;
}

.itemPrice {
    font-size: 1rem;
    color: black;
    margin-top: 5px;
}

.removeIconButton {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.removeIconButton:hover {
    color: darkred;
    transform: scale(1.2);
}

.checkoutContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.checkoutButton {
    padding: 10px 20px;
    font-size: 1.25rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.checkoutButton:hover {
    background-color: var(--primaryfade-color);
    transform: scale(1.1);
}
/* Empty Cart */
.emptyCartContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.emptyCartText {
    font-size: 3rem;
    font-family: var(--font-family);
    font-weight: bold;
    color: var(--text-color);
    transition: color 0.3s ease, transform 0.3s ease;
}
.emptyCartText:hover {
    transform: scale(1.1);
}
