/* Main Container */
.mainContainer {
    min-height: 100vh;  
    height: 100%;
    width: 100vw;
    background-color: var(--background-color);
    overflow: hidden;
    display: flex;
    flex-direction: row;

}
/* Content */
.content {
    width: 50%;
    height: 100%;
}
.title {

}
.socials {

}
.socialBubble {

}
/* Profile Picture */
.profilePicture {
    width: 70%;
    height: 100%;
    height: 100vh;
    overflow: hidden;
}
.pfp {
    width: 100%;
    height: 100%;
    object-fit: cover;
}