.Page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--background-color);
    background-image: url('/parallax.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.Page::-webkit-scrollbar {
    display: none;
}

.Page {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For IE and Edge */
}

@media (max-width: 768px) {
    .Page {
        background-attachment: scroll;
        background-size: cover;
    }
}
