.Page {
    display: flex;
    flex-direction: column;
    min-height: 200vh;
    background: var(--background-color);
    background-image: url('/parallax.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For IE and Edge */
}
.Page::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit - Chrome, Safari and Opera */
}
/* Mobile View */
@media (max-width: 768px) {
    .Page {
        
    }
}